<h1> <%= @restaurant.name %></h1>

<div>
  <p>Rating : <%= @restaurant.rating %> <br></p>
  <p>Address :  <%= @restaurant.address %> <br></p>
  <div>
    <button>
      <%= link_to "Edit",
        edit_restaurant_path(@restaurant)
      %>
    </button>
    <button>
      <%= link_to "Delete",
        restaurant_path(@restaurant),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </button>
  </div>
</div>

